/* Setting fonts for the body */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Header align */
h1 {
	text-align: center;
}

/* Create our div for the top of the page */
div#banner {
	top: 0;
	left: 0;
	background-color: #808080;
	width: 100%;
}

/* Text formatting for banner text */
div#banner-content {
	display: inline-block ;
	margin: 0 auto ;
	padding: 4px ;
	color: #F0F0F0 ;
	font-size: 1.5em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}
/* square on the banner */
div#banner-sq {
	display: inline-block;
	height: 100px;
        width: 100px;
	background-color: white;
	border: 5px solid black;	
}
/* circle on the banner */
div#banner-circ {
	display: inline-block;
	height:0px ;
	width:0px ;
	background-color: white;
	border: 5px solid black;
}

/* Format pedigree, add dashed outline */
#pedigree {
	position: absolute;
	width: 800px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin: -220px 0 0 -400px;
	outline: #cecece dashed thin;
}
